/* Laptop/Desktop/Large monitor styles */

body, html 
{
    margin: 0;
    padding: 0;
    font-size: 20px;
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
}
.toggle-check
{
    position: fixed;
    margin-top: 30px;
    margin-left: 90%;
}
.switch 
{
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}
.switch input 
{
    opacity: 0;
    width: 0;
    height: 0;
}
.slider 
{
   position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: .4s;
    border-radius: 34px;
}
.slider:before 
{
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    transition: .4s;
    border-radius: 50%;
}
input:checked + .slider 
{
    background-color: #2196F3;
}
input:checked + .slider:before 
{
    transform: translateX(26px);
}
main
{
    display: flex;
    flex-direction: column;
    unicode-bidi: isolate;
}
#nav-bar 
{
    display: flex;
    justify-content: space-between;
    align-items: center;  
}

#nav-links 
{
    display: flex;
    border: 1px solid #dddddd;
    padding: 10px;
    background-color: white;
    margin-top: 20px;
    position: fixed;
    z-index: 1000;
    width: 100%;
}
    
#nav-links a 
{
    margin-left: 100px;
}
#hamburger-button
{
    display: none;
}
article
{
    max-width: 60%;
    margin-left: 200px;
    padding: 10px;
    border-radius: 8px;
    display: grid;
    grid-template-rows: 200px 200px;
}
#name
{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Playfair Display', sans-serif ;
    font-weight: 700;
}
h1
{
    color:rgb(116, 39, 13);
    font-size: 50px;  
    font-family:  Helvetica;
    margin: 0;
    margin-top: 50px;
    padding-top: 10px;
    
}
h2, h4
{
    color:rgb(83, 19, 5);
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif ;
    font-weight: 500;
    border-bottom: 1px solid #ccc;
    margin-bottom: 20px;
    padding-bottom: 10px;
}

#Experience
{
    display: flex;
    flex-direction: column;
    padding-top: 20px;
}
.experience-details
{
    
    border: 1px solid #ccc;
    margin: 20px;
    padding: 20px;
}
.experience-details h3
{
    margin: 0;
}
.details
{
    display: flex;
    justify-content: space-between;
}
.experience-dates
{
    font-weight: bold;
}
#Skills
{
    display: flex;
    flex-direction: column;
}
footer
{
text-align: center;
}
#leaveMessage
{
    display: flex;
    flex-direction: column;
    padding: 0 40px;
    background-color: #f7ebdf;
}
#messages
{
   padding: 0 40px;
   display: none;
   background-color: #f8f6ef;
}
a
{
    text-decoration: none;
    color: #333;
}
a:hover 
{
    border: 1px solid #0d5834;
    border-radius: 2px;
    background-color: #d2d1bb;
}
#Connect
{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.connect-title
{
    margin-top: 20px;
}

.social-icon
{
    display: inline-block;
    padding: 5px;
    margin-bottom: 10px;
}
.social-icon i
{
    font-size: 20px;
    color: #333;
}


/* Tablet styles */

@media only screen and (max-width: 768px)
{
    body
    {
        font-size: 18px;
    }
    #nav-bar {
        position: relative; 
    }
    
    #nav-links
    {
        display: none;
        position: absolute;
        top: 100%; 
        left: 20px;
        background-color: #f8f6ef; 
        border: 1px solid #2e2a2a; 
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        padding: 10px;
        z-index: 1000; 
    }
    #nav-links a 
    {
        margin: 10px 0;
        color: #333;
    }
    #nav-links.show
    {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        
    }

    #hamburger-button 
    {
        display: block;
        margin-top: 20px;
        margin-left: 20px;

    }
    article
    {
        max-width: 100%;
        margin-left: 0;
    }
   
}


/* Mobile styles */

@media only screen and (max-width: 479px)
{
    body
    {
        overflow-x: hidden;
    }
    main
    {
        max-width: 100%;
        margin-left: 0;
        flex-direction: column;
    }
   #nav-links

    #hamburger-button 
    {
        display: block;
    }
    article
    #Experience
    {
        margin-top: 10%;
    }
    .experience
    {
        display: grid;
        grid-template-rows: 400px 400px;
    }
}


/* Dark-Mode Styles */

.dark-mode main, .dark-mode #nav-bar, .dark-mode #nav-links, .dark-mode header, .dark-mode #leaveMessage, .dark-mode a, .dark-mode .social-icon i
{
    background-color: #333; 
    color: #fff; 
}
.dark-mode h1, .dark-mode h2, .dark-mode h4, .dark-mode #nav-bar a
{
    color: white;
}
